@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700 &display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: #eee;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;  
    min-height: 100vh;
  }

.container {
    width: 90%;

    padding: 10px 40px;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

h1 {
    color: rgb(226, 226, 226);
    text-shadow: 1px 1px 4px #000;
}

.container .swiper-container {
    width: 100%;
    height: 100%;
}
.container .swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    border-radius: 15px;
    text-align: start;
    box-shadow: 0 4px 4px rgba(196, 196, 196, 0.25);

}
.container .swiper-slide img {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}
.container .swiper-slide .card-description {
    padding: 1rem;
}
.container .swiper-slide .card-title,
.container .swiper-slide .card-text {
    margin-bottom: 0.5rem;
}
.container .swiper-slide .card-link {
    text-align: center;

}
.container .swiper-slide .card-link a {
    text-decoration: none;
    color: #1d6ce2;
}
.swiper-button-next {
    right: 26px !important;
}
.swiper-button-prev {
    left: 26px !important;
}

ul {
    list-style: none;

}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    text-decoration: none;
    text-align: left;
}

ul li ul.dropdown li {
    display: block;
    margin-bottom: 5px;
}

ul li ul.dropdown {
    width: 100%;
    margin-bottom: 5px;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li:hover ul.dropdown {
    display: block;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(88, 63, 63, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    color: rgb(226, 226, 226);
    text-shadow: 1px 1px 4px #000;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #000000;
    transition: 0.3s;
}

.navbar a:hover::before {
    width: 100%;

}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #ffffff;
    cursor: pointer;
    display: none;
}

@media(max-width: 992px) {
    .header {
        padding: 1.3rem 5%;

    }
}

@media(max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(50px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        overflow: hidden;
        height: 0;
        transition: height 0.3s ease-in-out;
    }

    #check:checked~.navbar {
        display: block;
        height: auto;
        transition: height 0.3s ease-in-out;
    }


    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1rem 0;
        text-align: center;
        transform: translateY(50px);
        transition: 0.3s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
    }

    .navbar ul {
        display: block;
        text-align: center;
    }

    .navbar li {
        display: block;
        margin: 1rem 0;
    }

    .navbar .dropdown {
        position: static;
    }

}

/* Pie de pagina */
.pie-pag {
    width: 100%;
    background-color: #0a141d;

}

.pie-pag .grupo-1 {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0;
}


.pie-pag .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.pie-pag .grupo-1 .box img {
    width: 100px;
}

.pie-pag .grupo-1 .box h2 {
    color: #ffffff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pag .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pag .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #ffffff;
    margin-right: 10px;
    text-align: center;
}

.pie-pag .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #ffffff;
}

@media screen and(max-width: 768px) {

    .pie-pag .grupo-1 {
        font-size: 14px;
        color: #ffffff;
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0;
    }
}

/* boton de whatsapp */
.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.float:hover {
    text-decoration: none;
    color: #25d366;
    background-color: #fff;
}

.my-float {
    margin-top: 16px;
}

/* Barra de redes sociales */


.container-bar {
    width: 100%;
    max-width: 50px;
    position: fixed;
    left: 0;
    top: 25%;
}

.container-bar a {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: all 500ms ease;
    color: #fff;
}

.container-bar a:hover {
    background: #1c1c1c;
}

.container-bar .fa-facebook {
    background: #3b5998;
    border-radius: 0 5px 0 0;
}

.container-bar .fa-youtube {
    background: #e52a23;
}

.container-bar .fa-instagram {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.container-bar #title {
    position: absolute;
    background: #1c1c1c;
    padding: 0 8px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
    font-size: 15px;
    top: 12px;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

.container-bar a:hover #title {
    opacity: 1;
    visibility: visible;
    left: 64px;
}

.container-bar #title:after {
    position: absolute;
    content: '';
    border-left: 7px solid transparent;
    border-right: 6px solid #1c1c1c;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    right: 100%;
    top: 8px;
}

#btn-social {
    display: none;
}

.fa-play {
    cursor: pointer;
    transition: all 0.4s;
    font-size: 12px;
    margin-bottom: 5px;
    display: inline-block;
    transform: rotate(180deg);
    color: #49b0e6;
}

#btn-social:checked~.fa-play {
    transform: rotate(0deg);
}

.icon-social {
    transition: all 0.4s;
    transform: translateX(0%);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

#btn-social:checked~.icon-social {
    transform: translateX(-100%);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.0);
}
